.App {
  text-align: center;
}

.Opener{
  color: white;
  font-size: 1.75em;
  display: block;
  margin: 0 auto;
}

.formContainer {
  width:25%;
  padding-bottom: 1%;
  display: block;
  margin: 0 auto;
}


.inputText{
  color: black;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;

}

.App-header {
  background-color: #222;
  height: 15%;
  padding: 10px;
  color: white;
  width: 100%;
}

.App-title {
  //font-size: 1.5em;
}


.Add-Word {
  font-size: 1.5em;
  padding-top:10px;
  padding-bottom: 10px;
  display: block;
  margin: 0 auto;
  width: 75%;
}

.Pyramid {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.Closer{
  color: white;
  font-size: 1.75em;
  display: block;
  margin: 0 auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.Buttons{
  margin: 0 auto;
  width: 75%;

}


