.Row {
  width: 100%;
  display: flex;
  justify-content: center;
  //padding-top: 1.5vh;
  //padding-bottom: 1.5vh;
}



.Columns {
  width: 20%;
  //background: -webkit-linear-gradient(#eee, #333);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  //margin: 2px;
  padding: 1px;
  
}

.imgStar {
  width: 7vw;
  height: auto;
  z-index: -1;
  opacity: 0.3;
}


.colTextReg {
  font-size: 2.5vw;
  position: absolute;
  text-overflow: clip;
  overflow: hidden;
  font-weight: normal;
}


.colTextBig{
  font-size: 3vw;
  position: absolute;
  text-overflow: clip;
  overflow: hidden;
  font-weight: bold;

}
