.Row{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top:5px;
	padding-bottom: 5px;
}

.Pyramid{
	display: block;
	margin: auto;
	width: 75%;
	font-size: 2em;
}

.Columns {

	width: 10%;
	  background: -webkit-linear-gradient(#eee, #333);

	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    border-radius: 5px;
    margin:2px;
    padding: 1px;
    border: 2px black solid;


}






