.Row {
  width: 100%;
  display: flex;
  justify-content: center;
  //padding-top: 1.5vh;
  //padding-bottom: 1.5vh;
}



.Columns {
  width: 20%;
  //background: -webkit-linear-gradient(#eee, #333);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  //border-radius: 5px;
  //margin: 2px;
  padding: 1px;
  
}

.imgStar {
  width: 7vw;
  height: auto;
  z-index: -1;
  opacity: 0.25;
}
.colText {
  font-size: 2.0vw;
  position: relative;
  text-overflow: clip;
  overflow: hidden;
}
